:root {
    --bg-dark: oklch(0.1 0 264);
    --border: rgb(8,39,245);
}

body{
    margin: 0;
    height: 100vh;
    background: var(--bg-dark);
    background-image: url('../images/liminal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px) brightness(100%);
    user-select: none;

    color: white;
    font-family: 'Verdana';
    font-weight: bold;
    position: relative;

    overflow: hidden;
}

.window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 300px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar{
    background: var(--border);
    height: 40px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 5px solid var(--border);
    border-right: 5px solid var(--border);
}

.buttons{
    margin-left: auto;
}

.close{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 164, 164);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid white;
}



.c-area{
    height: calc(100% - 40px);
    width: 100%;
    background: rgb(253, 246, 224);
    color: black;
    outline: 5px solid var(--border);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top{
    display: flex;
}

.c-icon img{
    height: 70px;
    padding: 10px;
}

.c-text{
    width: 180px;
    margin-top: 20px;
    font-family: 'Pixelify Sans';
    font-size: 14px;
    font-weight: 100;
    padding-right: 10px;
}

.c-buttons{
    display: flex;
    gap: 15px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: 10px;
}

.yes, .no{
    left: 50%;
    background: white;
    font-size: small;
    font-weight: 100;
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.no{
    border-color: gray;
    transition: 500ms ease-in;
}

.yes:hover{
    border-color: gray;
}

.cat{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: 1000ms ease;
}

.cat-animate{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

.hide{
    display: none;
}
